@Model

@{
    ViewBag.Title = "КиноТеатр";
}

<div class="films-area">
    @foreach (var item in collection)
    { 
        <div class="film-item">
            <div class="film-logo">

            </div>
            <div class="film-label">

            </div>
            <div class="buy-button">

            </div>
        </div>
    }
</div>