* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.wrapper {
    background-color: #1e4860e3;
}

.header {
    padding: 25px 12%;
    background-color: #cd322d;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: -50px;
    display: flex;
    width: 100px;
    height: 100px;
}

    .logo img {
        border-radius: 50%;
    }

.header-label {
    color: #fff;
    margin-left: 50px;
    font-size: 35px;
    font-weight: bold;
}

.header-advertising {
}

.header-advertising button {
    background-color: #f6974c;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    transition: all .1s;
}

.header-advertising button:hover {
    background-color: #fff;
}

.container {
    padding: 0 10%;
    margin-top: 50px;
    height: 100%;
}

.footer {
    background-color: #cd322d;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    width: 100px;
    height: 100px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.film-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.film-logo {
    width: 200px;
    height: 250px;
}

.film-logo img {
    height: 100%;
    width: 100%;
}

.film-label {
    width: 50%;
    color: white;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.film-label > span {
    font-size: 40px;
    color: #f6974c;
}
.film-short-info {
    display: flex;
}
.film-short-info span {
}
.film-director {
    margin-left: 50px;
}
.film-director span:last-child, .film-duration span:last-child {
    font-size: 25px;
    text-decoration: underline;
}
.film-button .button {
    background-color: #fff;
    color: black;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
}
.film-button .button:hover {
    background-color: #f6974e;
}

/*another page*/

.film-area {
    display: flex;
}

.film-area .image {
    display: flex;
    width: 400px;
    height: 500px;
}
.film-area .image img {
    width: 100%;
    height: 100%;
}
.film-area .info {
    margin-left: 100px;
    margin-top: 50px;
}
.film-area .info .label {
    font-size: 50px;
    color: #f6974c;
}
.film-area .info-table {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.film-area .info-table div {
    width: 50%;
    display: flex;
    margin-bottom: 25px;
    font-size: 20px;
}
.film-area .info-table div span:last-child {
    color: #f6974c;
}
.no-seances {
    font-size: 30px;
}
.seances-area {
    margin-top: 50px;
}
.seance-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.seance-time {
    font-size: 30px;
    color: #f6974e;
}
.seance-button {
    display: flex;
}
.seance-button .button {
    background-color: #fff;
    color: black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 15px;
    border: none;
}
.seance-button .button:hover {
    background-color: #f6974e;
}

/*seats*/
.seats-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.seat-row {
    display: flex;
}
.seat {
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 50px;
    margin: 3px 5px;
}
.seat:hover {
    outline: 2px solid #f6974c;
}
.seat img {
    opacity: .5;
    width: 100%;
    height: 100%;
}
.seance-info {
    display: flex;
    margin-bottom: 50px;
}
.seance-info div, .seats-handler div {
    margin-right: 50px;
    font-size: 30px;
    color: white;
}
.seats-handler div {
    width: 35%;
}
.seance-info div span:last-child, .seats-handler div span:last-child {
    color: #f6974e;
}
.seats-handler {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    transition: height .2s;
}
.seats-handler button {
    cursor: pointer;    
    padding: 10px 35px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}